.container {

	display: flex;
	margin: 40px 40px 40px 40px;
	background-color:gray;
	border-radius: 100px;
	
}

body {
width: calc(100% - 80px);
}

.SectionTitle {
	border-top: 2px dotted;
	border-color: lightgreen;
	font-size: 24px;
}


#Header {
	font-style: normal;
	font-style: bold;
	color: black;
	font-family: "Arial", sans-serif;

}

.Main {
	font-style: italic;
	font-family: "Book Antiqua", Georgia, serif;
	font-size: 18px;
	margin: 20px 20px 20px 20px;
}

.nav {
	min-width: 150px;
	max-width: 15%;
	flex: 1;
	margin-top: 100px;
}

hr {
	color: lightgreen;
	border-style: dotted;
}
